/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'scss/mixins/_breakpoints.scss';
@import 'scss/base/_variables.scss';
@import 'scss/base/_fonts.scss';
@import 'scss/base/_typography.scss';

// body{
//     position: relative;
//     height: 100vh;
//     width: 100%;
// }

// .outer-wrapper{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 100%;
// }

.active {
    display: block;
}

#modal {
    z-index: 3;
}

.yt {
    background: red;
    position: relative;
    height: 100%;
    width: 100%;

    button {
        display: none;
    }

    .video-title {
        display: none;
    }
}

.backdrop {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

// .vertical-slider {
    
// }
    